<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/img/browser-icon.png">
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Nate Davis. It uses data from mapbos.com and darksky.net. This site was coded with node.js.</p>
    <img class="portrait" src="/img/nate-site.png">
  </div>

  {{>footer}}

</body>

</html>